# This file goes into /etc/systmed/system/
[Unit]
Description=Generic Arbwave service backend
After=network.target network-online.target auditd.service
# after system modules in case hardware needs modules loaded
Requires=systemd-modules-load.service
After=systemd-modules-load.service

[Service]
EnvironmentFile=/etc/default/arbwave
User=arbwave
WorkingDirectory=/tmp/
# give up to 10 seconds for PRU to boot
ExecStart=/usr/bin/arbwave --service $ARBWAVE_ARGS
TimeoutStopSec=8
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
Alias=arbwave.service
