# This file goes into /etc/systmed/system/
[Unit]
Description=Arbwave BBB backend for the Timing device
After=network.target auditd.service
#ConditionPathExists=/dev/rpmsg_pru30

[Service]
EnvironmentFile=/etc/default/arbwave
ExecStart=/home/labrat/src/arbwave/python/arbwave/backend/drivers/bbb/device/controller/timing.py \
  ${HOSTID_ARG} \
  ${REPLACE_ARG} \
  ${NS_ARG}
#User=labrat
WorkingDirectory=/tmp/
ExecStartPre=/bin/sh -c "if [ ! -c /dev/rpmsg_pru30 ] ; then sleep 25; fi"
TimeoutStopSec=8
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
Alias=bbb-timing.service
